.App {
  text-align: center;
}

.app-container {
  background-color: rgba(246, 192, 229, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.list-container {
  justify-content: center;
  text-align: center;
  padding-bottom: 10vh;
}

.list {
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.calendar {
  width: 70%;
  height: 40%;
}

.react-calendar__tile, .react-calendar__navigation__label, .react-calendar__navigation__arrow {
  background-color: lavender;
  border-radius: 5px;
  height: 30px;
}
