.App {
  text-align: center;
}

.app-container {
  background-color: rgba(246, 192, 229, 0.8);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.fc-content-skeleton {
  justify-content: space-between;
}
